
*.ide
*.lock
obj/Debug/Androids.dll
obj/Debug/Androids.csproj.CoreCompileInputs.cache
obj/Debug/Androids.csproj.FileListAbsolute.txt
obj/Debug/Androids.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
